<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioPushWithSocketIO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7321EB8A1EFC10C9000D719F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7321EB9E1EFC10C9000D719F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7321EBA91EFC10C9000D719F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
